.jp-Cell-header {
  height: auto;
}

.e2xgrader-StudentCellToolbar {
  padding-top: calc(0.25 * var(--jp-private-toolbar-height));
  min-height: auto;
}

.e2xgrader-CellLabel {
  display: flex;
  align-items: center;
  min-width: 30ch;
}

.e2xgrader-Spacer {
  flex-grow: 1;
}

.e2xgrader-CellToolbar {
  box-shadow: none;
  border: var(--jp-border-width) solid var(--jp-border-color1);
  border-bottom: none;
}

.e2xgrader-SolutionCell {
  background: var(--jp-brand-color1);
  color: white;
}

.e2xgrader-ReadOnlyCell {
  background: var(--jp-layout-color2);
}

.jp-mod-selected
  > .jp-Cell-inputWrapper
  > .jp-Cell-inputArea
  > .jp-MarkdownOutput {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
}

.jp-RenderedMarkdown {
  border: var(--jp-border-width) solid #ddd;
}
