.jp-Cell-header {
  height: auto;

  --solution-color: var(--jp-brand-color1);
  --solution-color-contrast: white;
}

.e2xgrader-StudentCellToolbar {
  padding-top: calc(0.25 * var(--jp-private-toolbar-height));
  min-height: auto;
}

.e2xgrader-SolutionCell {
  background: var(--solution-color);
  color: var(--solution-color-contrast);

  .e2xgrader-PointsLabel {
    background-color: var(--solution-color-contrast) !important;
    color: var(--solution-color) !important;
  }

  .e2xgrader-LockIcon svg {
    filter: brightness(0) invert();
  }
}

.e2xgrader-CellLabel {
  display: flex;
  align-items: center;
  min-width: 25ch;
  gap: 0.5rem;

  .e2xgrader-PointsLabel {
    background-color: var(--solution-color);
    color: var(--solution-color-contrast);
    padding: 0.125rem 0.3rem;
    margin: -0.125rem 0;
    font-weight: 600;
    border-radius: 2px;
    font-size: 0.75rem;
    line-height: 1rem;

    &:empty {
      display: none;
    }
  }
}

.e2xgrader-Spacer {
  flex-grow: 1;
}

.e2xgrader-CellToolbar {
  box-shadow: none;
  border: var(--jp-border-width) solid var(--jp-border-color1);
  border-bottom: none;
}

.e2xgrader-ReadOnlyCell {
  background: var(--jp-layout-color2);
}

.jp-mod-selected
  > .jp-Cell-inputWrapper
  > .jp-Cell-inputArea
  > .jp-MarkdownOutput {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
}

.jp-RenderedMarkdown {
  border: var(--jp-border-width) solid #ddd;
}
